<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Search</title>
</head>
<body>
    <!--Header-->
    <header>
        <h1>Job Search</h1>
        <nav>
            <ul>
                <li><a href="/search">Search Resumes</a></li>
                <li><a href="/resume">Create Resume</a></li>
            </ul>
        </nav>
    </header>

    <!--Main Content-->

    <!--Footer-->
    <footer>
        <p>Job Search &copy;2021</p>
    </footer>
</body>
</html>